terraform/terraform.tfvars
terraform/.terraform
terraform/.terraform.lock.hcl
terraform/terraform_tfsate
terraform/vars.tf
acr_details.yml
acr_creds.yml
vm_details.yml
ansible/scripts/hosts.yml
aks_variables.yml
terraform_tfstate
